<ul class="nav">
  <li><a href="/" class="home">Riccardo</a></li><li><a href="/blog" class="blog">blog</a></li><li><a href="/speaking">aforismi</a></li><li><a href="/about">chi sono</a></li><li><a href="/search" class="search" id="search-link">cerca</a></li>
</ul>
